* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
}

.nav a {
    margin-right: 2rem;
    text-decoration: none;
    color: grey;
}

.user-image {
    margin-left: 4rem;
    border: 0px solid black;
    display: inline-block;
}

.img {
    transform: scale(1.3);
    border-radius: 50%;}

main {
    margin: 10rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search {
    box-sizing: border-box;
    display: flex;

    & img {
        width: 2.2rem;
        height: 2.2rem;
        fill: rgb(187, 187, 187);
        align-self: center;  
        position: absolute; 
        padding-left: 1rem; 
    }
}
.google-search {
    margin: 2rem auto;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 50px;
    padding: .85rem 7rem;

    &:hover {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
    }
    
}

.btn-box {
    margin-bottom: 1.5rem;
}

.btn {
  background-color: #f2f2f2; /* Green */
  border: none;
  color: grey;
  padding: 10px 20px;
  margin: 0 .6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
  

  &:hover {
    border: 1px solid rgb(145, 145, 145);
    cursor: pointer;
    padding: 9px 19px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.25);

  }
}

.footer {
    display: grid;
    width: 100%;
    background-color: lightgray;
    border: 1px solid rgb(170, 170, 170);
    font-size: .8rem;
    position: absolute;
    bottom: 0;

    &__country {
        border-bottom: 1px solid rgb(170, 170, 170);
        padding: 1rem;
        font-size: larger;
        color: rgb(90, 90, 90);
        
        &:hover {
            cursor: pointer;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__ftr {
        padding: 1rem;
        list-style: none;
        color: rgb(65, 65, 65);
        &:hover {
            cursor: pointer;
        }

        &--right {
            margin-left: auto;
        }

    }


}